<!DOCTYPE html>

<html>

<head>
    <title>Home page</title>
    </head>
<body>
    <h1>KEY TAKEAWAYS</h1>
           <li> There are a lot of benefits to renting a single-family home or another unit to multiple tenants for tenants and landlords.
            Tenants can save on rent and other expenses by renting out rooms in single-family homes.
            Despite the increase in rental revenue,</li>
            <li> landlords may want to consider the possibility of high tenant turnover.
            More tenants may lead to more calls about noise, damage, and other complaints.
                Landlords may also need to consider additional expenses, including heating and landscaping.</li>
</body>
</html>