<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'user_navigation.html' %}
    <meta charset="UTF-8">
    <title>user_home</title>
<style>
    #box
    {
    margin: 150px 0 0 0;
    border: 2px solid red;
    }


</style>

</head>

<body style="background-image:url('{% static 'images/5.jpg' %}'); background-size: 100% 100%; ">
<div id="box">
<h1> Welcome to room rental services lucknow </h1>
<h1> Welcome to room rental services lucknow </h1>
<h1> Welcome to room rental services lucknow </h1>
<h1> Welcome to room rental services lucknow </h1>
<h1> Welcome to room rental services lucknow </h1>
<h1> Welcome to room rental services lucknow </h1>
</div>
</body>
</html>